<section class="jumbotron text-center">
  <div class="container-fluid g-0 position-relative d-flex align-items-center justify-content-center">
    <div class="hero_image"></div>
    <div class="position-absolute">
      <h1 class="text-light fw-bold">{{singleArticle.title}}</h1>

      <h1 class="text-light">
        <ng-container *ngFor="let author of singleArticle.author; let i = index">
          <ng-container *ngIf="i != 0">&nbsp;-&nbsp;</ng-container>
          {{authors[author-1].name}}
          {{authors[author-1].surname}}
        </ng-container>
      </h1>

    </div>
  </div>
</section>

<section class="position-relative">
  <div class="description_container d-flex justify-content-center">
    <div class="description">
      <p class="p-5 m-0">
        {{singleArticle.abstract}}
      </p>
    </div>
  </div>
</section>


<section class="d-flex justify-content-center">
  <button class="pdf_button me-3">
    Scarica PDF
  </button>
  <button class="pdf_button ms-3">
    Torna Indietro
  </button>
</section>
