<nav class="header navbar navbar-expand-lg">

  <div class="container-fluid align-items-center p-0">
    <img src="../assets/logo.jpg" height="60px" class="navbar-brand" routerLink="">
    <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-collapse d-flex justify-content-lg-end justify-content-md-center me-lg-2">
        <div class="d-lg-flex nav-link my-2" data-bs-toggle="dropdown" aria-expanded="false">

          <button class="dropdown-item text-center my-1 mx-lg-2" routerLink="">Current</button>

          <button class="dropdown-item text-center my-1 mx-lg-2" routerLink="/archive">Archives</button>

          <button class="dropdown-item text-center my-1 mx-lg-2" routerLink="/">Announcements</button>

          <button class="dropdown-item text-center my-1 mx-lg-2" routerLink="/">About</button>

          <button class="dropdown-item text-center my-1 mx-lg-2" routerLink="">Login</button>

        </div>

      </div>
    </div>

  </div>
</nav>
