<section class="jumbotron text-center">
  <div class="container-fluid g-0 position-relative d-flex align-items-center justify-content-center">
    <div class="hero_image"></div>
    <div class="position-absolute">
      <h1 class="text-light">Issue {{issue.id}}</h1>
      <h1 class="text-light">{{issue.title}}</h1>
    </div>
  </div>
</section>

<section class="position-relative">
  <div class="description_container d-flex justify-content-center">
    <div class="description">
      <p class="p-5 m-0">
        {{issue.description}}
      </p>
    </div>
  </div>
</section>
